<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        (function () {
            document.documentElement.setAttribute("data-bs-theme", localStorage.getItem("theme") || "light");
        })();
    </script>
    <title>@ViewData["Title"] - Electronics Sales Website</title>
    <!--font-awesome/6.7.2-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
    <!--/bootstrap@5.3.0  Lưu ý đổi vị trí file sẽ bị lỗi-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/index.css">
    @* DataTables CSS *@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/3.0.0/css/responsive.dataTables.min.css" />


</head>
<body>
    <header class="p-3 d-flex justify-content-between">
        <div>
            <a class="h4 d-none d-sm-block" asp-controller="Home" asp-action="Index">THƯƠNG MẠI ĐIỆN TỬ</a>
        </div>
        <div class="d-flex justify-content-end">
            <!-- From Uiverse.io by JkHuger -->
            <label for="theme" class="theme">
                <span class="theme__toggle-wrap">
                    <input id="theme" class="theme__toggle" type="checkbox" name="theme" value="dark" onclick="toggleTheme()">
                    <span class="theme__fill"></span>
                    <span class="theme__icon">
                        <span class="theme__icon-part"></span>
                        <span class="theme__icon-part"></span>
                        <span class="theme__icon-part"></span>
                        <span class="theme__icon-part"></span>
                        <span class="theme__icon-part"></span>
                        <span class="theme__icon-part"></span>
                        <span class="theme__icon-part"></span>
                        <span class="theme__icon-part"></span>
                        <span class="theme__icon-part"></span>
                    </span>
                </span>
            </label>
            <div id="cover-sub-info" style="display: none;"></div>
            <div id="nameUser" class="d-flex align-items-center me-1">
                <label class="px-3">ADMIN</label>
                <img class="rounded-circle" id="avatar" src="~/assets/images/User.png" alt="Alternate Text" />
 
                <div id="sub-info" style="display: none;">
                    <ul>
                        <li>Thông tin</li>
                        <li>Cài đặt</li>
                        <li><a asp-controller="Account" asp-action="Logout" asp-area="">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div> 
    </header>
    <div class=" main">
        <div class="nav-left pt-4 hidden" id="leftNav">
            <ul class="navbar-nav">
                <li class="nav-item d-none d-sm-block">
                    <button class="button" id="closeMenu">
                        <i id="icon" class="fas fa-bars menu-icon on"></i>
                    </button>
                </li>
                <li class="nav-item ">
                    <a class="nav-link p-2 d-flex flex-row" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-house"></i>
                        <label>Trang chủ</label></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 d-flex flex-row" data-bs-toggle="collapse" href="#collapseExample" aria-controls="collapseExample">
                        <i class="fa-solid fa-user"></i>
                        <label>Quản Lý</label>
                        <i class="fa-solid fa-sort-down"></i>
                    </a>
                    <div class="nav-item collapse" id="collapseExample" style="background-color: var(--bg-tertiary-color);">
                        <a class="nav-link nav-item_1 d-flex flex-row" asp-controller="Product" asp-action="Index">
                            <i class="fa-solid fa-caret-right" style="font-size:0.8rem;"></i>
                            <label>Danh sách sản phẩm</label>
                        </a>

                        <a class="nav-link nav-item_1 d-flex flex-row" asp-controller="ProductLaunch" asp-action="Index">
                            <i class="fa-solid fa-caret-right" style="font-size:0.8rem;"></i>
                            <label>Danh sách đợt mở bán</label>
                        </a>

                        <a class="nav-link nav-item_1 d-flex flex-row">
                            <i class="fa-solid fa-caret-right" style="font-size:0.8rem;"></i>
                            <label>Danh sách hóa đơn</label>
                        </a>
                    </div>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link p-2 d-flex flex-row" asp-controller="Home" asp-action="Contact">
                        <i class="fa-solid fa-medal"></i>
                        <label>Contact</label>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 d-flex flex-row" asp-controller="Home" asp-action="About">
                        <i class="fa-solid fa-user"></i>
                        <label>About</label>
                    </a>
                </li>

            </ul>
        </div>

        <main role="main" class="mx-3">
            @RenderBody()
        </main>
    </div>
    
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/index.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    @* DataTables JavaScript (sau jQuery) *@
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.25/i18n/Vietnamese.json"></script> @* Tùy chọn: Ngôn ngữ tiếng Việt *@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
